/bin
/src/build-*
/src/squirrel-gui/squirrel-gui.pro.user
src/squirrel-gui/squirrel-gui.pro.user
src/squirrel/squirrellib.pro.user.afb6026
src/squirrel/squirrellib.pro.user.0a56b21
src/squirrel/squirrellib.pro.user
src/squirrel/squirrellib.pro.user
src/squirrel/squirrellib.pro.user.6926030
src/squirrel/squirrellib.pro.user
src/squirrel/squirrellib.pro.user
