/bin
/src/build-*
/src/squirrel-gui/squirrel-gui.pro.user
src/squirrel-gui/squirrel-gui.pro.user
src/squirrel/squirrellib.pro.user.afb6026
src/squirrel/squirrellib.pro.user.0a56b21
src/squirrel/squirrellib.pro.user
src/squirrel/squirrellib.pro.user
src/squirrel/squirrellib.pro.user.6926030
src/squirrel/squirrellib.pro.user
src/squirrel/squirrellib.pro.user
src/squirrel/squirrellib.pro.user
src/squirrel/squirrellib.pro.user
src/squirrel/squirrellib.pro.user
src/squirrel/squirrellib.pro.user
src/squirrel/squirrellib.pro.user
src/squirrel/squirrel.pro.user
*.user
src/squirrel/squirrel.pro.user.0a56b21
src/squirrel/squirrel.pro.user.6926030
src/squirrel/squirrel.pro.user.0a56b21
src/squirrel/squirrel_wrap.c
src/squirrel/squirrel.py
src/squirrel/squirrel.pro.user.0a56b21
src/squirrel/squirrel.pro.user.afb6026
src/squirrel/squirrel.pro.user
src/squirrel/Qt/Uninstall Qt.lnk
src/squirrel/Qt/Qt Creator 11.0.2 (Community).lnk
src/squirrel/Qt/Qt Maintenance Tool.lnk
src/squirrel/squirrel.pro.user
